{% extends "master.html" %}
{% load static %}
{% block body %}

    <section class="certificate" id="certificate">
        <div class="main-text">
            <h2>My <span>Certificates</span></h2>
        </div>
        <div class="gallery">
            {% for i in certificate %}
            <div class="gallery-box">
                <div class="img-box">
                  <a href="{{i.image.url}}" data-lightbox="mygallery" ><img src="{{i.image.url}}"></a>
                </div>
                <div class="img-text">
                    <h5>{{i.name}}</h5>
                </div>
            </div>
            {% endfor %}       
                      
        </div>
        
            
    </section>



   
   {% endblock body %}